@charset "utf-8";
/* CSS Document */
div,h1,h2,body,ul,li,p{
	margin:0px;
	padding:0px;
}
#top{
	width:1000px;
	height:270px;
	background-image:url(../images/luxing.jpg);
	margin:0px auto 0px auto;
}
#daohang{
	width:1000px;
	height:30px;
	background-image:url(../images/luxinngdaohang.jpg);	
	margin:0px auto 0px auto;
}
#daohang li{
	float:left;
	list-style:none;
}
#baohang ul{
	
	list-style:none;
} 
#daohang a{
	    padding:0px 0px 10px 0px;
		text-align:center;
		width:190px;
		display:block;
}
#main{
	width:1000px;
	height:815px;
	background-image:url(../images/yulu.jpg);
	margin:0px auto 0px auto;
	}
h1{
	padding:70px 130px;
	}
p{
	font-size:15px;
	text-align:left;
	text-indent:3em;
	line-height:29px;
	margin:0px auto 0px auto;
}
#shang{
	padding-left:30px;
	margin:0px auto 0px auto;
}
#zuo{
	padding:0px 10px 0px 10px;
	width:200px;
	height:200px;
	float:left;
}
#zhong{
	padding:0px 15px 0px 20px;
	width:505px;
	height:535px;
	float:left;
	margin:0px auto 0px auto;
}
#you{
   padding:0px 10px 0px 0px;
	width:200px;
	height:200px;
	float:right;
}
h3{
	padding-top:20px;
	padding-left:180px;
}
#banquan{
	width:1000px;
	background-image:url(../images/luxingdi.jpg);
    margin:0px auto 0px auto;
}
#bq{
	padding-left:300px;
	padding-top:50px;
	padding-bottom:20px;
	font:bolder;
	font-size:18px;
}
